body {
    font-family: Arial, sans-serif;
}

.chatbot-widget {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.chat-header {
    background-color: #1a73e8;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.chat-container {
    display: none;
    flex-direction: column;
    height: 400px;
}

.chat-content {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    background-color: #1a73e8;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-wide {
    max-width: 1024px;
    width: 90%; /* or any custom width */
}

.product-grid-container {
    /* Adjust width */
    max-width: 1200px;
    
    /* Add margin */
    margin-top: 20px;
    margin-bottom: 20px;
}

.thumbnailImage {
    max-height: 150px;
    max-width: 150px;
    width: auto;
    height: auto;
}